<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TMHSelf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections> 
  <appSettings>
    <add key="MaxRecords" value="300"/>   
    <!-- <add key="DBSQLServer" value="Data Source=inettestsql; Initial Catalog=InetApps;integrated security=TRUE;persist security info=False;Trusted_Connection=Yes"/> -->

<!--
    <add key="DBSQLServer" value="Data Source=tcp:INetDBVM02A; Database=TakeMeHome; integrated security=TRUE;persist security info=False;Trusted_Connection=Yes" />
-->
    
    <add key="DBSQLServer" value="Data Source=tcp:INetDBListener,1433; Database=TakeMeHome; integrated security=TRUE;persist security info=False;Trusted_Connection=Yes" />
  </appSettings>

  <connectionStrings>
    
    <remove name="LocalSqlServer" />

<!--    <add name="LocalSqlServer"
       connectionString="Data Source=tcp:INetDBVM02A;Database=ASPNETDB; integrated security=TRUE;persist security info=False;Trusted_Connection=Yes"
       providerName="System.Data.SqlClient"/>
-->
<!--
    <add name="TakeMeHomeConnectionString"
          connectionString="Data Source=tcp:INetDBVM02A;Database=TakeMeHome;Integrated Security=True"
          providerName="System.Data.SqlClient"/>
-->
<!--
    <add name="LocalSqlServer" 
          connectionString="Data Source=tcp:INetDBListener,1433;Database=ASPNETDB; integrated security=TRUE;persist security info=False;Trusted_Connection=Yes" 
          providerName="System.Data.SqlClient"/>
-->    

 <add name="TakeMeHomeConnectionString" 
          connectionString="Data Source=tcp:INetDBListener,1433; Database=TakeMeHome;Integrated Security=True" 
          providerName="System.Data.SqlClient"/>

  </connectionStrings>
  
  <location path="Scripts"></location>
  
  <system.web>
    <identity impersonate="false" />
    <machineKey validationKey="46515263D983FF8AD5535B6DA679FCA99DD256BA10CDCA94" decryptionKey="84759DC6638C1239F5556D58268A7D29E71A57CE263E8DAC" validation="SHA1" />
    <compilation debug="false" targetFramework="4.6.1" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/GenErrorPg.aspx">
      <!--<error statusCode="404" redirect="~/404.aspx"/>-->
    </customErrors>
    <!-- 10MB in kilobytes, default is 4096 or 4MB-->
    <httpRuntime maxRequestLength="10240" executionTimeout="3600" />
    <httpModules>

    </httpModules>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="4.0" />

    <!-- <sessionState timeout="180" mode="InProc" /> -->
<!--    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" 
                  sqlConnectionString="Integrated Security=SSPI;data source=inetdb01;initial catalog=ASPState;" cookieless="false" timeout="180" /> -->

    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" 
                  sqlConnectionString="Integrated Security=SSPI;data source=tcp:INetDBListener,1433; Database=ASPState;" 
                  cookieless="false" timeout="180" />

    <authentication mode="Forms">
      <forms loginUrl="TMHLogin.aspx" protection="All" timeout="300" name=".ASPXAUTH" path="/" requireSSL="true"
             slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile"
             enableCrossAppRedirects="false"/>
    </authentication>

    <authorization>
      <deny users="test@yahoo.com,"/>
      <allow users="*"/>
    </authorization>

  </system.web>

  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    
    <security>
      <requestFiltering>
        <!-- 10MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    
  </system.webServer>
  
  <applicationSettings>
    <TMHSelf.Properties.Settings>
      <setting name="SMTP_Server" serializeAs="String">
        <value>mxob.sdsheriff.net</value>
      </setting>
      <setting name="TMHUrl" serializeAs="String">
        <value>https://apps.sdsheriff.net/TMHSelf/TMHLogin.aspx</value>
      </setting>
      <setting name="TMHSelf_ws_takemehome_TakeMeHome" serializeAs="String">
        <value>https://www.sdlaw.us/takemehome/takemehome.asmx</value>
      </setting>
      <setting name="TMHSelf_ws_takemehome2_TakeMeHome" serializeAs="String">
        <value>https://www.sdlaw.us/takemehome2/takemehome.asmx</value>
      </setting>
    </TMHSelf.Properties.Settings>
  </applicationSettings>
</configuration>